<section id="main">
    <a href="./#/drivers"><- Back to drivers list</a>
    <div  class="panel panel-default" class="main-nav">
        <div class="panel-heading">
            <div>
                <img ng-show="driver" ng-src="img/drivers/{{driver.Driver.driverId}}.png" />
                <img ng-show="driver" ng-src="img/flags/{{driver.Driver.nationality}}.png" /><br/>
                {{driver.Driver.givenName}} {{driver.Driver.familyName}}
            </div>
        </div>
        <div class="panel-body">
            <!--Try to get Country, Team and Birthday of the driver with API: http://ergast.com/mrd/-->
            <!-- .... -->
            <a href="{{driver.Driver.url}}" target="_blank">Biography</a>
        </div>
    </div>

    <div class="main-content">
        <table class="table table-striped" class="result-table">
            <thead>
            <tr><th colspan="5">Formula 1 2013 Results</th></tr>
            </thead>
            <tbody>
            <tr>
                <td>Round</td> <td>Grand Prix</td> <td>Team</td> <td>Grid</td> <td>Race</td>
            </tr>
            <!--Try to get all results of the driver with API: http://ergast.com/mrd/
            - use the ng-repeat for a tr and access the 'races' of the drivercontroller
            - display: 'round', a flag (race.Circuit.Location.country' and the 'raceName', the 'name' of the 'Constructor', 'grid' and 'position'
            - get the last three from race.Results[0]-->
            </tbody>
        </table>
    </div>

</section>