<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formula 1 app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="F1FeederApp" ng-controller="driversController">
<div class="page-header">
    <h1>Formula 1 <small>with AngularJS</small></h1>
</div>
<input type="text" class="form-control" ng-model="nameFilter" placeholder="Search..."/>
<table class="table table-striped">
    <thead>
    <tr><th colspan="4">Drivers Championship Standings</th></tr>
    </thead>
    <tbody>

    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
</body>
</table>
</body>
</html>

